<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="arm_slider_v2">

  <xacro:include filename="macro_device.xacro" />

  <xacro:macro name="arm_slider_v2" params="mesh_path:='' parent_link:='' station_name:='' device_name:='' x:=0 y:=0 z:=0 rx:=0 ry:=0 r:=0">
    <xacro:arm_slider
      mesh_path="${mesh_path}"
      parent_link="${parent_link}"
      station_name="${station_name}"
      device_name="${device_name}"
      x="${x}" y="${y}" z="${z}"
      rx="${rx}" ry="${ry}" r="${r}" />

    <!-- Transport semantics -->
    <link name="${station_name}${device_name}tool_center_frame"/>
    <joint name="${station_name}${device_name}tool_center_frame_joint" type="fixed">
      <origin xyz="0 0.16 -0.03" rpy="0 0 0" />
      <parent link="${station_name}${device_name}gripper_base"/>
      <child link="${station_name}${device_name}tool_center_frame"/>
    </joint>

    <link name="${station_name}${device_name}left_finger_tip_frame"/>
    <joint name="${station_name}${device_name}left_finger_tip_frame_joint" type="fixed">
      <origin xyz="-0.03 0.13 -0.02" rpy="0 0 0" />
      <parent link="${station_name}${device_name}gripper_left"/>
      <child link="${station_name}${device_name}left_finger_tip_frame"/>
    </joint>

    <link name="${station_name}${device_name}right_finger_tip_frame"/>
    <joint name="${station_name}${device_name}right_finger_tip_frame_joint" type="fixed">
      <origin xyz="0.03 0.13 -0.02" rpy="0 0 0" />
      <parent link="${station_name}${device_name}gripper_right"/>
      <child link="${station_name}${device_name}right_finger_tip_frame"/>
    </joint>

    <link name="${station_name}${device_name}pickup_approach_frame"/>
    <joint name="${station_name}${device_name}pickup_approach_frame_joint" type="fixed">
      <origin xyz="0 0.18 0.05" rpy="0 0 0" />
      <parent link="${station_name}${device_name}gripper_base"/>
      <child link="${station_name}${device_name}pickup_approach_frame"/>
    </joint>

    <link name="${station_name}${device_name}dropoff_frame"/>
    <joint name="${station_name}${device_name}dropoff_frame_joint" type="fixed">
      <origin xyz="0 0.18 0.02" rpy="0 0 0" />
      <parent link="${station_name}${device_name}gripper_base"/>
      <child link="${station_name}${device_name}dropoff_frame"/>
    </joint>
  </xacro:macro>
</robot>
